*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato',sans-serif;
    color: black;
}

.logo {
    width: 60vw;
}
#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    padding: 0 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
#header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

#header ul {
    display: flex;
    width: 35vw;
    justify-content: space-around;
}

li {
     list-style-type: none;
}

.nav-link {
   text-decoration: none;
    color: inherit;
}

#hero {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
    text-align: center;
}

#hero h2 {
    margin-bottom: 20px;
}




#email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#submit {
    background-color: #f1c40f;
    border: none;
    padding: 0 20px;
    text-transform: uppercase;
    max-width: 150px;
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
    height: 30px;
    font-weight: 700;
    /* ight: 100%; */
    font-size: inherit;
    
}
.grid {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    /* text-align: center; */
}
.icon {
    color: orange;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    /* font-size: 2rem; */
}
.desc {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
     /* align-items: center;  */
}

#howitworks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#video {
    height: 315px;
    width: 100%;
    max-width: 560px;
}
#pricing {
    display: flex;
    margin-top: 60px;
    
}
.product {
    border: 1px solid black;
    /* flex-basis: 1; */
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    border-radius: 2px;
    margin: 10px;
}
.level {
    padding: 15px;
    background-color: #ddd;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
}
.product h2{
    margin-top: 15px;
}
.product > ol {
    margin: 15px 0;
}
.product > ol > li {
    padding: 5px 0;
    list-style-type: none;
}
.product > .btn {
    margin: 15px 0;
    padding:  0 20px;
    border: none;
    font-weight: 400;
    background-color: orange;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

#footer {
    background-color: #ddd;
    margin-top: 30px;
    padding: 20px;
    /* display: block; */
    /* width: 100%; */
}

#footer > ul{
    /* list-style-type: none; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
#footer li {
    padding: 0 10px;
    list-style: none;
}
#footer a{
    text-decoration: none;
    color: #000;
}
#footer span {
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    font-size: 0.9rem;
    margin-top: 5px;
}
@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    #pricing .product {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100%;
    }
}
@media (max-width: 650px) {
    .logo {
        width: 100%;
        margin-top:15px;
    }
    #header {
        flex-wrap: wrap;
    }

    #header ul  {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        padding: 0 50px;
        align-items: center;
    }
    #header li {
        padding-bottom:  5px;
    }
    #features .icon {
        display: none;
    }
    #features .desc {
        width: 100%;
        text-align: center;
        height: 150px;
    }
}